
body{ 
  background-color: white;
  color: black;
}

.container{
  margin: 10px auto 10px auto;
  width: 40%;
  border: solid white 1px;
  background-color: white;
  padding: 3%;
}

.field1{
  border-radius: 1vh;
  width: 2vh;
}